.root {
  height: 100dvh;
  margin-inline-start: clamp(2rem, -2.1538rem + 18.4615vw, 20rem);
  margin-inline-end: clamp(1rem, -1.0769rem + 9.2308vw, 10rem);
  border-inline: 1px solid var(--black-blue-10);
}

@media (width <= 1023px) {
  .root {
    margin-inline: 0;
    border-inline: none;
  }
}
