.root {
  display: flex;
}

.bullet {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 1rem;
  height: 1rem;
}

.bullet_point {
  width: 0.375rem;
  height: 0.375rem;
  border-radius: 50%;
  background: var(--black-blue-30);

  &.active {
    background: var(--black-blue-100);
  }
}
