@use "@/app/styles/mixins" as *;

.root {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.segment_title {
  display: none;
}

.slide_title {
  margin-block-end: 1rem;
}

.swiper {
  cursor: pointer;
  margin-inline: 5rem;
}

.navigation_btn {
  cursor: pointer;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 2.5rem;
  height: 2.5rem;
  border: none;
  border-radius: 50%;

  background: var(--white);
  box-shadow: 0 0 0.9375rem 0 rgb(56 119 238 / 10%);

  &.next {
    right: 1.25rem;
  }

  &.prev {
    left: 1.25rem;
  }

  &:disabled {
    display: none;
  }

  @include transition(box-shadow);

  @media (hover: hover) {
    &:hover {
      box-shadow: 0 0 0.9375rem 0 rgb(56 119 238 / 30%);
    }
  }

  @media (hover: none) {
    &:active {
      box-shadow: 0 0 0.9375rem 0 rgb(56 119 238 / 30%);
    }
  }
}

.navigation_icon {
  stroke: var(--blue);

  &.next {
    transform: rotate(180deg);
  }
}

@media (width <1024px) {
  .swiper {
    position: relative;
    flex-grow: 1;
    margin-inline: 20px 0;
    padding-block-start: 1.25rem;

    &::before {
      content: "";

      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(calc(-50% - 0.625rem));

      width: calc(100% - 1.25rem);
      height: 0.0625rem;

      background: var(--black-blue-10);
    }
  }

  .segment_title {
    display: block;
    margin-block-end: 1.5rem;
    margin-inline-start: 1.25rem;
  }
}
