.root {
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
}

.controls {
  display: flex;
  column-gap: 1.25rem;
}

@media (width <= 1023px) {
  .root {
    row-gap: 0.625rem;
  }

  .controls {
    column-gap: 0.625rem;
  }
}
